@model TodoList

<h1>@ViewData["Title"] - To-do items</h1>
<p>@ViewData["TodoListDesc"]</p>

<a asp-action="EditList" asp-route-id="@Model.TodoListId">Edit list</a> -
<a asp-action="DeleteList" asp-route-id="@Model.TodoListId">Delete list</a>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(m => m.TodoItems[0].Name)
        </th>
        <th>
            @Html.DisplayNameFor(m => m.TodoItems[0].Done)
        </th>
    </tr>
    @foreach (var item in Model.TodoItems.ToList())
    {
        <tr>
            <td>
                @Html.DisplayFor(m => item.Name)
            </td>
            @if (item.Done)
            {
                <td class="item-done">Yes</td>
            }
            else
            {
                <td class="item-undone">No</td>
            }
        </tr>
    }
</table>